//
// SIZE REFERENCE
//
// Every reoccuring margin, padding, position, ...
// can be placed here.
//

$page-width: 840px;
$page-border-height: 5px;

$header-margin-bottom: 60px;

$block-margin-left-right: 20px;
$block-margin-bottom: 60px;

$block-padding-top-bottom: 60px;
$block-text-padding-left-right: 80px;
$block-headline-margin-bottom: 30px;
$block-date-margin-bottom: 60px;

$footer-padding-top: 20px;

$footer-pagination-margin-bottom: 60px;
$footer-pagination-offset: 30px;
$footer-pagination-height: 60px;
$footer-about-margin-bottom: 60px;
$footer-contact-height: 60px;