//
// TYPO REFERENCE
//
// Everything typo-related like font-family, font-sizes,
// font-weights, line-heights, ... can be placed here.
//

$montserrat: 'Montserrat';
$merriweather: 'Merriweather';

$serif: $merriweather, serif;
$sans-serif: $montserrat, sans-serif;

$headline-font: $sans-serif;
$paragraph-font: $serif;
$meta-font: $sans-serif;

$h2-font-size: 2.25em;
$h2-line-height: 1.2222;

$meta-font-size: .75em;
$meta-line-height: 1.1667;

$paragraph-font-size: 1em;
$paragraph-line-height: 1.8;

$about-font-size: .875em;
$about-line-height: 1.7143;

$pagination-font-size: 1.125em;