.m-pagenav {
	margin-bottom: $footer-pagination-margin-bottom;
	margin-top: -$footer-padding-top;
	font-family: $sans-serif;
	text-transform: uppercase;
	@include clearfix;

	@media #{$large} {
		margin-left: -$footer-pagination-offset;
		margin-right: -$footer-pagination-offset;
	}

	.pagenav {
		display: block;
		width: 100px;
		height: 60px;
		line-height: 60px;
		color: $pagination-color;
		background-color: $pagination-background-color;
		text-align: center;
		
		@media #{$medium} {
			width: 160px;
		}

		&:before, &:after {
			display: none;
			@include transition(border-color .3s);

			@media #{$medium} {
				display: inline-block;
			}
		}

		&:hover {
			color: $white;

			&:before, &:after {
				border-left-color: $white;
				border-right-color: $white;
			}
		}
	}

	.pagenav--left {
		float: left;

		&:before {
			content: '';
			@include triangle(left, 9px, 13px, $pagination-color);
			margin-right: 7px;
		}
	}

	.pagenav--right {
		float: right;

		&:after {
			content: '';
			@include triangle(right, 9px, 13px, $pagination-color);
			margin-left: 7px;
		}
	}
}