.b-footer {
	max-width: $page-width - 40px;
	margin: 0 auto;
	background-color: $article-background-color;
	padding-top: $footer-padding-top*2;
	margin-left: 10px;
	margin-right: 10px;

	@media #{$medium} {
		margin-left: auto;
		margin-right: auto;
	}
}