.b-header {
	text-align: center;
	margin-bottom: $header-margin-bottom/2;

	@media #{$medium} {
		margin-bottom: $header-margin-bottom;
	}

	.header_brand {
		display: inline-block;
	}

	.brand_name {
		@include sr-only;
	}

	.brand_logo {
		display: block;
		fill: $page-logo-color;
		width: 140px;
		height: 140px;
		margin: -20px auto 0;
	}
}